:root {
    --primary: #b8c2b9;
    --secondary: #e3d9c6;
    --font-color: #333;
}

body {
    background-color:  var(--secondary);
}

.round-image {
    border-radius: 50%; 
    width: 400px; 
    height: 400px; 
    object-fit: cover;
}

