:root {
    --primary: #b8c2b9;
    --secondary: #e3d9c6;
    --font-color: #333;
}

body {
    background-color:  var(--secondary);
}

.round-image {
    border-radius: 50%; /* Makes the image round */
    width: 400px; /* Optional: Sets a fixed width */
    height: 400px; /* Optional: Sets a fixed height */
    object-fit: cover; /* Ensures the image fits within the circle */
}

